    <h1>Currency pairs</h1>

<p>Go <a href="/">back</a>.</p>

  <% @sym_array.each do |symbol| %>
    <li>
      <a href="/forex/<%=symbol.to_s%>">
        Convert 1 <%=symbol.to_s%> to...
      </a>
    </li>
  <% end %>

